@import "../style.scss";

.tabs-page {
  display: flex;
  height: 90vh;
  width: 100%;
  border-radius: 48px;
  overflow: hidden;
  background: var(--glass-bg);
}

.tab-nav {
  width: 250px;
  padding: 1rem;
  border-right: 1px solid var(--glass-border);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3),
    inset 0 0 0.5px rgba(255, 255, 255, 0.1);
}
.tab-search {
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  border-radius: 24px;
  background-color: var(--glass-bg);
  margin-bottom: 1rem;
  font-size: 1rem;
  outline: none;
  color: var(--color-text);

  &:focus {
    border-color: var(--color-accent);
    box-shadow: 0 0 0 2px var(--color-accent-transparent);
  }
}

.create-tab-button {
  margin-left: 1.6rem;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  border-radius: 1rem;
  border: none;
  background: var(--glass-bg);
  color: var(--color-text);
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: var(--color-primary);
    box-shadow: 0 4px 30px var(--color-accent);
  }
}

.no-tabs {
  padding: 1rem;
  text-align: center;
  color: var(--color-muted);
}

.tab-content {
  flex: 1;
  padding: 2rem;
  min-width: 1200px;
  background-color: var(--color-bg);
  background-image: radial-gradient(darken(gray, 28%) 1px, transparent 1px);
  background-size: 24px 24px;

  .tab-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      color: var(--color-text);
    }

    p {
      margin: 0;
      color: var(--color-muted);
    }

    .create-content-button {
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      border: none;
      background: var(--glass-bg);
      color: var(--color-text);
      font-weight: bold;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: var(--color-primary);
        box-shadow: 0 4px 30px var(--color-accent);
      }
    }
  }

  .tab-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }

  .tab-items li {
    list-style: none;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3),
      inset 0 0 0.5px rgba(255, 255, 255, 0.1);
    background: var(--color-gradient);
    padding: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 1.5rem;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    }

    strong {
      display: block;
      font-size: 1.2rem;
      color: var(--color-text);
      margin-bottom: 0.5rem;
    }

    p {
      margin: 0.5rem 0;
      color: var(--color-muted);
      line-height: 1.4;
    }

    a {
      display: inline-block;
      color: var(--color-link);
      font-size: 0.9rem;
      margin-top: 0.5rem;
      overflow: hidden;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        color: var(--color-bg);
      }
    }
  }
}
