@import "src/style.scss";

.scroll-list-container {
  position: relative;
  width: auto;
  border-radius: 8px;
}

.scroll-list {
  max-height: 1050px;
  overflow-y: auto;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3), inset 0 0 0.5px rgba;
  border: 1px solid var(--glass-border);
}

.scroll-list::-webkit-scrollbar {
  width: 8px;
}

.scroll-list::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 8px;
}

.scroll-list::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 8px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  padding: 16px;
  background-color: var(--glass-bg);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3),
    inset 0 0 0.5px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.item.selected {
  background: var(--color-gradient);
  box-shadow: 0 4px 24px var(--color-accent);
}

.item-text {
  color: var(--color-text);
  margin: 0;
  flex: 1;
}

.top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-radius: 8px;
  background: linear-gradient(to bottom, #060010, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  border-radius: 8px;
  background: linear-gradient(to top, #060010, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}
